<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Schelling's Segregation Model</title>

    <link href="../static/css/bootstrap.min.css" rel="stylesheet">
    <link href="../static/css/style.css" rel="stylesheet">

    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->

    <script src="../static/js/angular.min.js"></script>

  </head>
  <body ng-app="app">
{% raw %}
      <div id="wrapper">
        <div id="title-panel">
            <h2 class="text-center">Segregation Simulator <span class="label label-danger">Beta</span></h2>
            <p class="text-center">An implementation of the Thomas Schelling's Segregation Model.</p>
        </div>
	  <div ng-controller="SimulationController" class="container-fluid">
        <div class="row">
            <div class="col-md-12 text-center">
                <div class="controls-section">
                    <fieldset>
                        <legend>Simulation setup</legend>

                        <label for="gridWidth">Columns</label>
                        <input type="number" class="number-input-60" ng-model="conf.width" ng-change="initializeBoard()" min="10" step="{{conf.blockSize}}" max="500" id="gridWidth">

                        <label for="gridHeight">Rows</label>
                        <input type="number" class="number-input-60" ng-model="conf.height" ng-change="initializeBoard()" min="10" step="{{conf.blockSize}}" max="500" id="gridHeight">

                        <label for="threshold">Threshold</label>
                        <select name="threshold" ng-model="conf.threshold">
                            <option ng-repeat="t in [2,3,4,5,6]">{{t}}</option>
                        </select>

                        <label for="speed">Speed</label>
                        <select name="speed" ng-model="conf.speed">
                            <option value="1000">Slow</option>
                            <option value="500">Medium</option>
                            <option value="100">Fast</option>
                        </select>

                        <label for="firstColorRatio">({{conf.firstColorName}}: {{conf.firstColorRatio}}% / {{conf.secondColorName}}: {{100 - conf.firstColorRatio}}%)</label>
                        <input type="range" name="firstColorRatio" ng-model="conf.firstColorRatio" ng-change="initializeBoard()" min="1" max="99" value="50">

                        <label for="blanksRatio">Blanks Ratio ({{conf.blanksRatio}}%):</label>
                        <input type="range" name="blanksRatio" ng-model="conf.blanksRatio" ng-change="initializeBoard()" min="1" max="99" value="10">
                </fieldset>
            </div>
            <div class="controls-section">
                <fieldset>
                    <legend>Board design</legend>

                        <label for="blockSize">Block Size</label>
                        <input type="number" class="number-input-50" ng-model="conf.blockSize" ng-change="draw()" min="1" max="50" id="blockSize">

                        <label for="firstColor">First Color</label>
                        <select name="firstColor" ng-model="conf.firstColorName" ng-change="draw()">
                            <option ng-repeat="color in conf.colors">{{color}}</option>
                        </select>

                        <label for="secondColor">Second Color</label>
                        <select name="secondColor" ng-model="conf.secondColorName" ng-change="draw()">
                            <option ng-repeat="color in conf.colors">{{color}}</option>
                        </select>

                        <label>Fill Strokes
                            <input type="checkbox" ng-change="draw()" ng-model="conf.fillStroke">
                        </label><br/>

                </fieldset>
            </div>
            <div id="control-buttons">
                <button id="btnStart" class="btn btn-primary" ng-click="start();">Start</button>
                <button id="btnStop" class="btn btn-danger" ng-click="stop();" disabled>Stop</button>
                <button id="btnReset" class="btn btn-default" ng-click="reset();">Reset</button>
            </div>
        </div>
    </div>
	<div class="row">
		<div class="col-md-12 text-center">
            <canvas id="canvas" width="{{ conf.width * conf.blockSize }}" height="{{ conf.height * conf.blockSize }}" title="To save the image: Right click -> Save image as..."></canvas>
        </div>
        <p class="text-center">Round: {{ conf.round }}. Unsatisfied: {{ conf.unsatisfied | number:2 }}%.</p>
	</div>
  </div>
  <footer class="text-center">
    <p>Developed by <a target="_blank" href="https://about.me/jonathan_hepp">Jonathan Hepp</a>.</p>
    <!--    <p>Learn more about how the simulator works <a data-toggle="modal" href="#game-info-modal">clicking here</a>.</p>-->
  </footer>
</div>
<div class="modal fade" id="infoModal" tabindex="-1" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">Schelling's Model for Segregation</h4>
            </div>
            <div class="modal-body">
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary" data-dismiss="modal">Close</button>
            </div>
        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</div><!-- /.modal -->

<div class="modal fade" id="alertModal" tabindex="-1" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-body">
                <p id="alertModalMessage"></p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary" data-dismiss="modal">Close</button>
            </div>
        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</div><!-- /.modal -->

    <script src="../static/js/jquery-2.2.3.min.js"></script>
    <script src="../static/js/bootstrap.min.js"></script>
    <script src="../static/js/schelling.js"></script>
{% endraw %}
</body>
</html>
