legend {
    font-size: 16px;
    font-weight: lighter;
    border-color: #ccc;
    margin-bottom: 15px;
}

input[type="range"] {
    display: inline;
    width: 100px;
}

label {
    margin-left: 5px;
}

.label {
    font-size: 11px;
    vertical-align: top;
}

.btn {
    padding: 2px 12px;
}

#title-panel {
    margin-bottom: 15px;
}

.number-input-60 {
    width: 60px;
}

.number-input-50 {
    width: 50px;
}

.controls-section {
    display: inline-flex;
    flex-flow: wrap;
    margin-bottom: 5px;
}

#control-buttons {
    margin: 5px 0px;
}

.footer {
    background-color: #111;
    position: fixed;
    bottom: 0px;
    width: 100%;
    padding-top: 5px;
}

.footer > p {
    text-align: center;
    margin-bottom: 0px;
}
